version: '3.3'

services:
  java-app:
    build: .
    command: sleep 3600
    container_name: java-jar-app
    ports:
      - "8080:8080" # Map port 8080 on the host to port 8080 in the container (if your app runs a web server)
    volumes:
      - .:/app
      - ./pom.xml:/app

  test:
    #build: .
    command:
            - mvn clean install
            - ls 
